<!-- navbar -->
<div class="navbar container d-flex justify-content-between align-items-center p-3">
    <div>
        <img class="logo" src="img/logo.png" alt="bets">
    </div>
    <div>
     <input type="text" name="username" placeholder="Username" class="mx-2 login-input">
     <input type="password" name="password" placeholder="Password" class="mx-2 login-input">
     <button class="mx-2 btn btn-sm btn-outline-dark login-btn">login</button>
     </div>
</div>

<!-- main box -->

<div class="container mt-5 d-flex align-self-center justify-content-between align-items-center">

    <div class="container d-flex justify-content-center p-4 home-main-right">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus consequuntur, id natus pariatur tempora quo quos saepe mollitia, tenetur ea assumenda vitae iste ipsa neque dolores. Autem quam hic consectetur?
        <br>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus iusto asperiores maxime iste ipsam architecto dolorem enim cupiditate nostrum ab quidem reprehenderit, aliquam laudantium doloribus saepe cum? Ullam, ut in.
        
    </div>
         
     <div class="container d-flex flex-column justify-content-center align-items-center home-main-left py-4">
       <button class="btn btn-outline-dark login-btn my-2 w-25">
           click me
       </button>
       <button class="btn btn-outline-dark login-btn my-2 w-25">
        click me
    </button>
    <button class="btn btn-outline-dark login-btn my-2 w-25">
        click me
    </button>
    <button class="btn btn-outline-dark login-btn my-2 w-25">
        click me
    </button>
     </div>
</div>